application/webservices/wsdl/EmailService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.lcobucci.com.br/services/CalculadoraFresca" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="EmailService" 
	targetNamespace="http://www.lcobucci.com.br/services/CalculadoraFresca">
  <wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lcobucci.com.br/services/CalculadoraFresca">
			<xsd:complexType name="MessageDto">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="emailDestinatario" type="xsd:string" />
					<xsd:element name="nomeDestinatario" type="xsd:string" />
					<xsd:element name="emailRemetente" type="xsd:string" />
					<xsd:element name="nomeRemetente" type="xsd:string" />
					<xsd:element name="assunto" type="xsd:string" />
					<xsd:element name="conteudo" type="xsd:string" />
					<xsd:element name="dataEnvio" type="xsd:date" />
				</xsd:sequence>	
			</xsd:complexType>
			<xsd:complexType name="arrayMessageDto">
        <xsd:sequence>
					<xsd:element name="array" type="tns:MessageDto" maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>
      </xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="sendRequest">
    <wsdl:part name="chave" type="xsd:string"/>
    <wsdl:part name="emailEnvio" type="xsd:string"/>
    <wsdl:part name="nomeDestinatario" type="xsd:string"/>
    <wsdl:part name="emailDestinatario" type="xsd:string"/>
    <wsdl:part name="assunto" type="xsd:string"/>
    <wsdl:part name="conteudo" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sendResponse">
    <wsdl:part name="id" type="xsd:int"/>
  </wsdl:message>
  
  <wsdl:message name="getByIdRequest">
  	<wsdl:part name="chave" type="xsd:string"/>
    <wsdl:part name="id" type="xsd:integer"/>
  </wsdl:message>
  <wsdl:message name="getByIdResponse">
    <wsdl:part name="response" type="tns:MessageDto"/>
  </wsdl:message>
  
  <wsdl:message name="listAllRequest">
    <wsdl:part name="chave" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="listAllResponse">
    <wsdl:part name="response" type="tns:arrayMessageDto"/>
  </wsdl:message>
 
  <wsdl:portType name="EmailService">
    <wsdl:operation name="send">
      <wsdl:input message="tns:sendRequest"/>
      <wsdl:output message="tns:sendResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input message="tns:getByIdRequest"/>
      <wsdl:output message="tns:getByIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listAll">
      <wsdl:input message="tns:listAllRequest"/>
      <wsdl:output message="tns:listAllResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="EmailServiceSOAP" type="tns:EmailService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="send">
      <soap:operation soapAction="http://localhost/emailService/public/message/send"/>
      <wsdl:input>
        <soap:body namespace="http://localhost/emailService/public/message" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://localhost/emailService/public/message" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://localhost/emailService/public/message/getById"/>
      <wsdl:input>
        <soap:body namespace="http://localhost/emailService/public/message" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://localhost/emailService/public/message" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAll">
      <soap:operation soapAction="http://localhost/emailService/public/message/listAll"/>
      <wsdl:input>
        <soap:body namespace="http://localhost/emailService/public/message" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://localhost/emailService/public/message" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="EmailService">
    <wsdl:port binding="tns:EmailServiceSOAP" name="EmailServiceSOAP">
      <soap:address location="http://localhost/emailService/public/message"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>