application/wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.lcobucci.com.br/services/CalculadoraFresca" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculadoraFresca" targetNamespace="http://www.lcobucci.com.br/services/CalculadoraFresca">
  <wsdl:types>
	<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lcobucci.com.br/services/CalculadoraFresca">
		<xsd:complexType name="Circunferencia">
			<xsd:sequence>
				<xsd:element name="raio" type="xsd:float" />
				<xsd:element name="diametro" type="xsd:float" />
				<xsd:element name="perimetro" type="xsd:float" />
				<xsd:element name="area" type="xsd:float" />
			</xsd:sequence>	
		</xsd:complexType>
	</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="calculaRequest">
    <wsdl:part name="raio" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="calculaResponse">
    <wsdl:part name="response" type="tns:Circunferencia"/>
  </wsdl:message>
 
  <wsdl:portType name="Circulo">
    <wsdl:operation name="calcula">
      <wsdl:input message="tns:calculaRequest"/>
      <wsdl:output message="tns:calculaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="CirculoSOAP" type="tns:Circulo">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calcula">
      <soap:operation soapAction="http://www.lcobucci.com.br/services/CalculadoraFresca/calcula"/>
      <wsdl:input>
        <soap:body namespace="http://www.lcobucci.com.br/services/CalculadoraFresca" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.lcobucci.com.br/services/CalculadoraFresca" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Circulo">
    <wsdl:port binding="tns:CirculoSOAP" name="CirculoSOAP">
      <soap:address location="http://localhost/circulo/public/circunferencia.php"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>