application/wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tns="urn:server.hello" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="urn:server.hello">
  <wsdl:types>
	<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/Emailservice">
		<xsd:complexType name="EmailService">
			<xsd:sequence>
				<xsd:element name="raio" type="xsd:float" />
				<xsd:element name="diametro" type="xsd:float" />
				<xsd:element name="perimetro" type="xsd:float" />
				<xsd:element name="area" type="xsd:float" />
			</xsd:sequence>	
		</xsd:complexType>
	</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="sendRequest">
    <wsdl:part name="raio" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="sendResponse">
    <wsdl:part name="response" type="tns:Circunferencia"/>
  </wsdl:message>
  
  <wsdl:message name="getByIdRequest">
    <wsdl:part name="raio" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="getByIdResponse">
    <wsdl:part name="response" type="tns:Circunferencia"/>
  </wsdl:message>
  
  <wsdl:message name="listAllRequest">
    <wsdl:part name="raio" type="xsd:float"/>
  </wsdl:message>
  <wsdl:message name="listAllResponse">
    <wsdl:part name="response" type="tns:Circunferencia"/>
  </wsdl:message>
 
  <wsdl:portType name="EmailService">
    <wsdl:operation name="envia">
      <wsdl:input message="tns:sendRequest"/>
      <wsdl:output message="tns:sendResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="EmailServiceSOAP" type="tns:EmailService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calcula">
      <soap:operation soapAction="http://www.lcobucci.com.br/services/CalculadoraFresca/calcula"/>
      <wsdl:input>
        <soap:body namespace="http://www.lcobucci.com.br/services/CalculadoraFresca" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.lcobucci.com.br/services/CalculadoraFresca" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="EmailService">
    <wsdl:port binding="tns:EmailServiceSOAP" name="EmailServiceSOAP">
      <soap:address location="http://localhost/circulo/public/index.php"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>